* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7359dc;
  font-family: "Roboto", sans-serif;
}
.BlockForm {
  width: 500px;
  height: 700px;
  background-color: #e5e5e5;

  border-radius: 5px;
  border: 2ps solid #c4c4c4;
  margin: 77px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
h1 {
  /* position: absolute; */
  width: 217px;
  height: 26px;
  text-align: center;
  font-family: "Roboto";
  /* font-style: normal; */
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 50px 0 45px 0;

  /* identical to box height */

  color: #000000;
}
input {
  /* outline: none; */
  border-radius: 5px;
  margin: 0 40px 15px 40px;
  height: 30px;
  /* gap: 20px; */
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
textarea {
  margin: 20px 40px;
  height: 200px;
  width: 420px;
  border-radius: 5px;
}
button {
  /* flex: 1; */
  height: 50px;
  width: 420px;
  background-color: #7359dc;
  color: white;
  font-size: 22px;
  border-radius: 5px;
  /* align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center; */
}
